* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color-black-green: #143c3c;
    --primary-color-light-green: #e2eddf;
    --primary-color-black: #152427;
    --primary-color-gray: #575d5e;
    --primary-color-light-gray: #7d8188;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100vw - 48px);
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn {
    font-family: "Public Sans", sans-serif;
    display: inline-block;
    width: 173px;
    min-width: 173px;
    border: 1.5px solid var(--primary-color-black-green);
    border-radius: 99px;
    background: var(--primary-color-black-green);
    text-align: center;
    color: #fff;
    line-height: 56px;
    font-size: 1.8rem;
    font-weight: 500;
    transition: 0.3s;
}

.btn:hover {
    background: var(--primary-color-light-green);
    border-color: var(--primary-color-light-green);
    color: var(--primary-color-black-green);
}

.section__title {
    display: flex;
    align-items: center;
    color: var(--primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.section__title::before {
    margin-right: 16px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

.section__heading--suffixes span {
    display: inline-flex;
    align-items: center;
}

.section__heading--suffixes span::after {
    margin-left: 20px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: var(--primary-color-black);
}

.section__heading {
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.section__desc {
    color: var(--primary-color-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.section__heading--fs,
.section__desc--fs {
    font-family: "Public Sans", sans-serif;
}

/* Header Top*/
.header-top {
    display: flex;
    align-items: center;
    padding: 28px 0 14px;
    background-color: #fff;
    z-index: 99;
}

.header-top--sticky {
    position: sticky;
    top: -14px;
}

.header-top::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.logo {
    display: flex;
    align-items: center;
}

.logo__name {
    color: #000;
    font-size: 2rem;
    margin-left: 4px;
    font-weight: 600;
}

.nav {
    margin-left: auto;
    margin-right: 70px;
}

.nav__link {
    font-family: "Public Sans", sans-serif;
    display: inline-block;
    padding: 4px 19px;
    color: var(--primary-color-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.nav__link:hover {
    color: var(--primary-color-black);
}

.nav__link--active {
    position: relative;
    color: var(--primary-color-black);
}

.nav__link--active::after {
    position: absolute;
    left: 20px;
    bottom: -25px;
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color-black-green);
    z-index: 1;
}

/* Hero */
.header-hero {
    background: #fff;
}

.hero-inner {
    position: relative;
    padding: 60px 0 160px;
    justify-content: space-between;
}

.hero__icon-decor {
    position: absolute;
    z-index: 1;
}

.hero__icon-decor--top {
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
}

.hero__icon-decor--bt {
    transform: rotate(180deg);
    right: 0;
    bottom: 28px;
}

.hero__content {
    width: 40%;
    min-width: 40%;
}

.hero__heading {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
    margin-bottom: 20px;
}

.hero__cta {
    margin-top: 42px;
    column-gap: 36px;
}

.hero__watch-video:hover,
.hero__cta-btn:hover {
    cursor: pointer;
}

.hero__watch-video:hover .hero__cta-btn--border {
    transform: rotate(225deg);
    border-color: #83a17d;
    border-top-color: transparent;
    border-right-color: transparent;
}

.hero__watch-video:hover .hero__cta-btn {
    background-color: var(--primary-color-black-green);
}

.hero__watch-video:hover .hero__cta-text {
    color: #83a17d;
}

.hero__cta-btn--border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 4px solid var(--primary-color-black-green);
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(45deg);
    transition-duration: 0.25s;
}

.hero__cta-btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #83a17d;
    transform: rotate(74deg);
}

.hero__cta-text {
    margin-left: 15px;
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.hero__img-group {
    display: flex;
    column-gap: 20px;
    position: relative;
}

.hero__img-group::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: block;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
}

.hero__img {
    flex: 1;
    width: 202px;
    height: 466px;
    border-radius: 99px;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.hero__img--lower {
    transform: translateY(77px);
}

/* Clients */
.client {
    margin: 44px 0;
}

.client-inner {
    background-color: var(--primary-color-light-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 99px;
    padding: 76px 121px;
}

.client__item {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.client__name {
    color: var(--primary-color-black-green);
    line-height: normal;
}

.client__name--gg {
    font-size: 3.1rem;
    font-weight: 500;
}

.client__name--sl {
    font-size: 3.2rem;
    font-weight: 600;
}

.client__name--ag {
    font-size: 2.6rem;
    font-weight: 400;
}

.client__name--ri {
    font-family: Sonsie One;
    font-size: 2.3rem;
    font-weight: 400;
}

.client__name--he {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* Courses */
.course {
    background: #fff;
    padding-top: 40px;
    margin: 66px 0;
}

.course__heading {
    margin-top: 12px;
    max-width: 520px;
}

.course__row {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}

.control {
    margin-bottom: 12px;
    display: flex;
    column-gap: 17px;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: var(--primary-color-black-green);
    color: #fff;
    transition-duration: 0.25s;
}

.control__btn:hover {
    cursor: pointer;
    background: var(--primary-color-light-green);
    color: var(--primary-color-black);
}

.control__btn--nex {
    transform: rotate(180deg);
}

.course-list {
    column-gap: 16px;
    margin-bottom: 40px;
    /* overflow-x: hidden; */
}

.course-item {
    width: calc(33.33% - 10.5px);
    flex-shrink: 0;
    border-radius: 20px;
    /* transform: translateX(calc(-100% - 16px)); */
    transition: 0.3s;
}

.course-item__figure {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 318px;
    overflow: hidden;
}

.course-item__thumb {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    border-radius: 20px 20px 0 0;
    transition-duration: 0.3s;
}

.course-item__thumb:hover {
    transform: scale(1.1);
}

.course-item__content {
    padding: 24px 18px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    transition-duration: 0.3s;
}

.course-item:hover .course-item__content {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    cursor: pointer;
}

.course-item__name {
    display: inline-block;
    margin-bottom: 18px;
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}

.course-item__desc {
    color: var(--primary-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72; /* 171.429% */
}

/* Introduction */
.introduction {
    padding: 50px 0;
    margin-top: 107px;
}

.introduction-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 64px;
}

.introduction__img-blog {
    position: relative;
    display: flex;
    column-gap: 21px;
}

.imtroduction__img {
    border-radius: 999px;
    width: 286px;
    height: 480px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.imtroduction__img--lower {
    margin-top: 77px;
}

/* icon decor */
.introduction__icon-decor {
    position: absolute;
    left: 46px;
    top: -18px;
}

.introduction__heading {
    margin: 20px 0 11px;
}

.introduction__desc {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    margin-bottom: 36px;
}

.introduction__desc-sub {
    position: relative;
    font-size: 1.4rem;
    line-height: 1.71;
    display: flex;
    align-items: center;
}

.introduction__desc-sub:last-child {
    margin-top: 58px;
}

.introduction__desc-sub::after {
    position: absolute;
    display: block;
    bottom: -20px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #83a17d;
}

.introduction__desc-sub--value {
    margin-right: 24px;
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

/* Designers */
.introduction__designer {
    font-family: "Public Sans", sans-serif;
    position: absolute;
    bottom: 8px;
    right: -9px;
    padding: 19px 23px 12px;
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    background: #fff;
}

.designer__title {
    color: var(--primary-color-black);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    text-align: center;
}

.designer__desc {
    margin: 6px 0 10px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4; /* 140% */
}

.designer--bold {
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.designer__separate {
    position: relative;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
    margin: 3px 0;
}

.designer__separate::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    content: "";
    display: inline-block;
    border-radius: 10px;
    height: 100%;
    width: 40%;
    background: #83a17d;
}

.designer__load {
    display: flex;
    justify-content: flex-end;
}

.designer__icon {
    margin: 3px 0 5px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 3px solid #eaeaea;
    background: #143c3c;
}

.designer__team {
    justify-content: space-between;
}

.designer__avt {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
    object-fit: cover;
    object-position: center;
}

.designer__avt:not(:last-child) {
    margin-right: -10px;
}

/* Process */
.process {
    padding: 30px 0;
    margin: 10px 0;
}

.process__heading {
    margin: 20px 0 81px;
    max-width: 50%;
}

.process-step {
    position: relative;
    padding: 50px 41px 50px 30px;
    background: #fff;
    transition-duration: 0.25s;
    border-bottom: 1px solid #83a17d;
}

.process-step:hover {
    border-bottom: 1px solid var(--primary-color-light-green);
    border-radius: 33px;
    cursor: pointer;
    background: var(--primary-color-light-green);
}

.process-step__index {
    color: var(--primary-color-black-green);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72; /* 72.222% */
}

.process-step__name {
    margin-left: 60px;
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.process-step__desc {
    margin-left: auto;
    max-width: 572px;
    color: var(--primary-color-light-gray);
}

.process-step__link {
    margin-top: 7px;
    margin-left: 154px;
    display: block;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
    text-decoration: underline 1px solid #152427;
}

.process-step__img {
    position: absolute;
    bottom: 0;
    right: 72px;
    width: 450px;
    height: 444px;
    object-fit: cover;
    object-position: center;
}

/* Media */
.media {
    margin-top: 118px;
    padding: 116px 0 63px;
    background: var(--primary-color-black-green);
}

.media-inner {
    position: relative;
}

/* Decor */
.media-decor {
    position: absolute;
    top: 10px;
    right: -56px;
}

.media-decor__icon--flower {
    position: absolute;
    top: 90px;
    right: 0;
}

.media__heading {
    color: #e7f9f9;
    max-width: 457px;
}

.media__heading span::after {
    background-color: #83a17d;
}

.media__content {
    max-width: 560px;
    margin-left: auto;
}

.media__desc {
    color: #6a8383;
    margin-bottom: 13px;
}

.media__link-group {
    display: flex;
    align-items: center;
}

.media__link {
    color: #fff;
    margin-right: 26px;
    transition-duration: 0.3s;
}

.media__link:hover {
    color: #80a07b;
}

.media__link-icon {
    transform: rotate(180deg);
    color: #80a07b;
}

.media__video-group {
    margin-top: 72px;
    position: relative;
}

.media__video {
    border-radius: 22px;
    width: 100%;
    height: 544px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.media__btn {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    opacity: 0.7;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.media__btn:hover {
    background-color: var(--primary-color-black);
}

.media__btn-icon {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

/* Features */
.features {
    padding: 40px 0;
    margin-top: 100px;
    background-color: #fff;
}

.features__heading,
.features__desc {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 547px;
}

.features__desc {
    margin-top: 20px;
    color: var(--primary-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.features-list {
    margin-top: 103px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 45px;
}

.features-item {
    min-height: 362px;
    flex: 1;
    padding: 60px 33px;
    border-radius: 160px;
    text-align: center;
    border: 1.5px solid #cecece;
    background: #fff;
    transition: 0.3s;
}

.features-item:hover {
    cursor: pointer;
    transform: translateY(-59px);
    border-color: transparent;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.features-item__title {
    margin: 24px 0 10px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.features-item__desc {
    color: var(--primary-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* Blogs */
.blog {
    padding: 40px 0;
    margin: 104px 0 82px;
}

.blog-header {
    margin: 10px 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 160px;
}

.blog__heading {
    max-width: 50%;
}

.blog-header__desc {
    color: var(--primary-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.blog-list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.blog-item {
    flex: 1;
}

.blog-item__img-contain {
    width: 100%;
    height: 317px;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
}

.blog-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 40px 40px 0 0;
    transition-duration: 0.3s;
}

.blog-item__img:hover {
    transform: scale(1.1);
}

.blog-item__content {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 26px 30px 12px;
    border-radius: 0 0 20px 20px;
    min-height: 234px;
}

.blog-item:hover .blog-item__content,
.blog-item__content:hover {
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item__btn {
    max-width: max-content;
    padding: 7px 34px;
    border-radius: 999px;
    margin-bottom: 13px;
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    background-color: var(--primary-color-light-green);
    transition: 0.3s;
}

.blog-item__btn:hover {
    background: var(--primary-color-black-green);
    color: var(--primary-color-light-green);
}

.blog-item__title {
    color: var(--primary-color-black-green);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
    margin-bottom: auto;
}

.blog-item__date {
    display: flex;
    justify-content: flex-end;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    padding-top: 16px;
    border-top: 1px solid #c4c4c4;
}
