* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color-black-green: #143c3c;
    --primary-color-black: #152427;
    --primary-color-gray: #575d5e;
    --primary-color-light-green: #e2eddf;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100vw - 48px);
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.btn {
    font-family: "Public Sans", sans-serif;
    display: inline-block;
    width: 173px;
    min-width: 173px;
    border: 1.5px solid var(--primary-color-black-green);
    border-radius: 99px;
    background: var(--primary-color-black-green);
    text-align: center;
    color: #fff;
    line-height: 56px;
    font-size: 1.8rem;
    font-weight: 500;
    transition: 0.25s;
}

.btn:hover {
    background: var(--primary-color-light-green);
    border-color: var(--primary-color-light-green);
    color: var(--primary-color-black-green);
}

/* Header Top*/
.header__top {
    display: flex;
    align-items: center;
    padding: 14px 0;
    margin-top: 14px;
    background-color: #fff;
    z-index: 99;
}

.header__top--sticky {
    position: sticky;
    top: 0;
}

.header__top::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.logo {
    display: flex;
    align-items: center;
}

.logo__name {
    font-size: 2rem;
    margin-left: 4px;
    font-weight: 600;
}

.nav {
    margin-left: auto;
    margin-right: 70px;
}

.nav__link {
    font-family: "Public Sans", sans-serif;
    display: inline-block;
    padding: 4px 19px;
    color: var(--primary-color-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.nav__link:hover {
    color: var(--primary-color-black);
}

.nav__link--active {
    position: relative;
    color: var(--primary-color-black);
}

.nav__link--active::after {
    position: absolute;
    left: 20px;
    bottom: -25px;
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color-black-green);
    z-index: 1;
}
