* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color-black-green: #143c3c;
    --primary-color-black: #152427;
    --primary-color-gray: #575d5e;
    --primary-color-light-green: #e2eddf;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100vw - 48px);
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.btn {
    font-family: "Public Sans", sans-serif;
    display: inline-block;
    width: 173px;
    min-width: 173px;
    border: 1.5px solid var(--primary-color-black-green);
    border-radius: 99px;
    background: var(--primary-color-black-green);
    text-align: center;
    color: #fff;
    line-height: 56px;
    font-size: 1.8rem;
    font-weight: 500;
    transition: 0.3s;
}

.btn:hover {
    background: var(--primary-color-light-green);
    border-color: var(--primary-color-light-green);
    color: var(--primary-color-black-green);
}

.section__heading {
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.section__desc {
    color: var(--primary-color-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.section__heading--fs,
.section__desc--fs {
    font-family: "Public Sans", sans-serif;
}

/* Header Top*/
.header-top {
    display: flex;
    align-items: center;
    padding: 14px 0;
    margin-top: 14px;
    background-color: #fff;
    z-index: 99;
}

.header-top--sticky {
    position: sticky;
    top: 0;
}

.header-top::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.logo {
    display: flex;
    align-items: center;
}

.logo__name {
    color: #000;
    font-size: 2rem;
    margin-left: 4px;
    font-weight: 600;
}

.nav {
    margin-left: auto;
    margin-right: 70px;
}

.nav__link {
    font-family: "Public Sans", sans-serif;
    display: inline-block;
    padding: 4px 19px;
    color: var(--primary-color-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.nav__link:hover {
    color: var(--primary-color-black);
}

.nav__link--active {
    position: relative;
    color: var(--primary-color-black);
}

.nav__link--active::after {
    position: absolute;
    left: 20px;
    bottom: -25px;
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color-black-green);
    z-index: 1;
}

/* Hero */
.header-hero {
    background: #fff;
}

.hero-inner {
    position: relative;
    padding: 60px 0 160px;
    justify-content: space-between;
}

.hero__icon-decor {
    position: absolute;
    z-index: 1;
}

.hero__icon-decor--top {
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
}

.hero__icon-decor--bt {
    transform: rotate(180deg);
    right: 0;
    bottom: 28px;
}

.hero__content {
    width: 40%;
    min-width: 40%;
}

.hero__heading {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
    margin-bottom: 20px;
}

.hero__cta {
    margin-top: 42px;
    column-gap: 36px;
}

.hero__watch-video:hover,
.hero__cta-btn:hover {
    cursor: pointer;
}

.hero__watch-video:hover .hero__cta-btn--border {
    transform: rotate(225deg);
    border-color: #83a17d;
    border-top-color: transparent;
    border-right-color: transparent;
}

.hero__watch-video:hover .hero__cta-btn {
    background-color: var(--primary-color-black-green);
}

.hero__watch-video:hover .hero__cta-text {
    color: #83a17d;
}

.hero__cta-btn--border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 4px solid var(--primary-color-black-green);
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(45deg);
    transition-duration: 0.25s;
}

.hero__cta-btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #83a17d;
    transform: rotate(74deg);
}

.hero__cta-text {
    margin-left: 15px;
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.hero__img-group {
    display: flex;
    column-gap: 20px;
    position: relative;
}

.hero__img-group::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: block;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
}

.hero__img {
    flex: 1;
    width: 202px;
    height: 466px;
    border-radius: 99px;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.hero__img--lower {
    transform: translateY(77px);
}
